#content .collab_chat {
    background-color: white;
    position: relative;
    height: 400px;
    width: 94%;
    left: 3%;

    padding: 0;
    margin: 0;
}

#content .collab_chat div {
    padding: 0;
    margin: 0;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content .collab_chat .chat-wrapper {
    display: block;
    width: 100%;
    height: 370px;
    padding: 0;
    margin: 0;
}

#content .collab_chat .toolbar {
    display: block;
    width: 100%;
    height: 2.15em;
    line-height: 2.15em;
    background-color: #6385A6;
}

#content .collab_chat .toolbar .channel-label {
    color: #EFEFEF;
    margin: 0 1em;
}

#content .collab_chat .toolbar .toolset {
    float: right;
}

#content .collab_chat .toolbar .chat-button {
    display: inline-block;
    cursor: default;
    background-color: #2E3D4C;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #EFEFEF;
    border-radius: 0.75em;
    padding: 0 0.75em;
    margin: 0 0.5em;
}

#content .collab_chat .toolbar #chat-notification-permission:hover {
    color: #111;
    background-color: #FCFEFF;
}

#content .collab_chat .chat {
    position: relative;
    display: inline-block;
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FCFEFF;

    margin: 0;
    padding: 0;

    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#content .collab_chat .userlist {
    position: relative;
    display: inline-block;
    background-color: #2E3D4C;
    width: 25%;
    height: 100%;

    margin: 0;
    padding: 0;
    overflow: auto;
}

#content .collab_chat .userlist .users {
    list-style: none;
    margin: 0;
    padding: 1px;
    opacity: 0.9;
}

#content .collab_chat .userlist .users .user {
    color: #EFEFEF;
    margin: 1px;
    padding: 1px 4px;
    cursor: default;
}

#content .collab_chat .userlist .users .user:hover {
    color: #111;
    background-color: #FCFEFF;
}

#content .collab_chat .chat .output-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    bottom: 2.1em;
    overflow-y: scroll;
}

#content .collab_chat .chat .output {
}

#content .collab_chat .chat .input-container {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
}

#content .collab_chat .chat .input {
    width: 100%;
    height: 2.1em;

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;

    margin: 0px;

    font-size: 1em;
    background-color: #FCFEFF;
}

#content .collab_chat .chat .output .message {
    display: block;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 4px 0.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#content .collab_chat .chat .output .message .room-message {
    font-size: 0.8em;
    color: #888;
    padding-left: 1em;
}

#content .collab_chat .chat .output .message .time {
    display: inline-block;
    color: #999;
    font-size: 0.75em;
}

#content .collab_chat .chat .output .message .sender {
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 0.5em;
}

#content .collab_chat .chat .output .message .body {
    display: inline;
}
