/* admonition start */

#content div.tlp-red,
#content div.tlp-amber,
#content div.tlp-green,
#content div.tlp-white,
#content div.stop,
#content div.thumbsup,
#content div.thumbsdown,
#content div.heartbleed {
    border: 1pt solid #E5E5E5;
    border: 1pt solid rgba(0, 0, 0, 0.1);
    background-color: #F9F9FF;
    color: black;

    margin: 1em 10%;
    min-height: 1em;
    padding: 0.5em 1em;
    overflow: auto;
}

.banner {
    position: relative;
    border: 1pt solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
    background-color: #f5f5f5;
    margin: 0;
    border-radius: 0;
    min-height: 50px;
    padding-left: 10px;
}

.banner[data-bannername]:not(.show) {
    display: none;
}
.banner div {
    padding: 8px;
    margin-right: 10px;
}

.banner .dismiss {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 15px;
    opacity: 0.6;
    cursor: pointer;
    text-decoration: none;
}

.banner .dismiss:hover {
    opacity: 1;
}

div.heartbleed.banner:before {
    height: 50px;
}

#content div.tlp-red p,
#content div.tlp-amber p,
#content div.tlp-green p,
#content div.tlp-white p,
#content div.stop p,
#content div.thumbsup p,
#content div.thumbsdown p {
    margin: 0;
}

#content div.stop:before { content: url("../img/admon-stop.png"); }
#content div.thumbsup:before { content: url("../img/admon-thumbsup.png"); }
#content div.thumbsdown:before { content: url("../img/admon-thumbsdown.png"); }
#content div.tlp-red:before { content: url("../img/admon-tlp-red.png"); }
#content div.tlp-amber:before { content: url("../img/admon-tlp-amber.png"); }
#content div.tlp-green:before { content: url("../img/admon-tlp-green.png"); }
#content div.tlp-white:before { content: url("../img/admon-tlp-white.png"); }

div.heartbleed:before {
    background: url("../img/heartbleed.svg")  no-repeat;
    background-size: contain;
    height: 80px;
    width: 64px;
    content: "";
    float: left;
}

#content div.heartbleed:before {
    margin: -5px 1em -5px -5px;
}

#content div.stop:before,
#content div.thumbsup:before,
#content div.thumbsdown:before,
#content div.tlp-red:before,
#content div.tlp-amber:before,
#content div.tlp-green:before,
#content div.tlp-white:before {
    float: left;
    margin-right: 1em;
}

#content div.tlp-red {
    background-color: rgb(255, 217, 217);
    color: rgb(59, 42, 19);
}

#content div.tlp-amber {
    background-color: rgb(255, 252, 207);
    color: rgb(71, 55, 28);
}

#content div.tlp-green {
    background-color: rgb(232, 255, 232);
    color: rgb(0, 37, 0);
}

/* admonition end */

#content div.roundrect {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}

