/* meta selection */

/*
div.metaselection_area
ul.metaselection_list
li.metaselection_entry
a.metaselection_link
*/

ul.metaselection_list {
	overflow: auto;
}

li.metaselection_entry {
	list-style: none;
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	border: 2px solid #dbdbdb;
	min-height: 120px;
    max-width: 213px;
	text-align: center;
	background-color: #fff;
    vertical-align: top;
}

li.metaselection_entry:hover {
    border-color: #76c2ff;
    border-width: 4px;
    margin: 8px;
}

li.metaselection_entry img.attachment {
	clear: both;
	display: block;
	max-height: 100px;
	margin: 5px auto 5px auto;
	padding: 0;
}

li.metaselection_entry a {
	padding: 0;
	margin: 0;
}


/* Collab menu support */

dl.collab_list {
  background: #eee;
  padding: 0px;
  margin: 0;
  width: 300px;
}

dl.collab_list dd.collab_val {
  display: none;
}

dl.collab_list:hover dd.collab_val {
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  width: 400px;
  margin: -17px 0px 0px 260px;
  padding: 8px;
}

dt.collab_key {
  padding: 4px;
}

dt.collab_key:hover {
  background: #ddd;
}

dd.collab_val {
  display: none;
}
