/*
    screen.css - Codenomicon branded bootstrap theme.
    Overrides for opencollabnew theme
*/


#header {
    font-size: 16px;
}

#logo {
    padding: 5px 10px;
    margin: 3px 10px;
}

#logo img {
    height: 29px;
}

.navbar-inverse {
    background: #00365b;
    border-color: #002041;
}

.btn-primary {
    background-color: #00a0de;
    border-color: #0094d3;
}
#footer {
    background: #00365b;
}

/* color: #5cb346*/

table tr.meta_header td,
table tr.meta_header th,
table tr.header td,
table tr.header th {
	background: #5cb346;
	color: #fff;
}
