/* common.css
   - Default styles for graphingwiki's javascriptified features
   Copyright: 2011 by Lauri Pokka
*/

.jslink {
    font-size: 12px;
    color: green;
    cursor: pointer;
}

a.plus:after {
    content: "+";
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
}

a.cross:after {
    content: "x";
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
}

.alphabg {
    background: rgba(0, 0, 0, 0.80);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = #CC000000, endColorstr = #CC000000)";
}

/* Mootools tooltips */

.mootip div.tip {
    position: absolute;
    color: #fff;
    width: 150px;
    z-index: 1050;

    background: rgba(0, 0, 0, 0.80);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = #CC000000, endColorstr = #CC000000)";
    border-radius: 5px;
}

.mootip div.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 6px 6px 3px;
}

.mootip div.tip-text {
    font-size: 11px;
    padding: 3px 6px 6px;
}

/* MetaMonthCalendar css*/

th.calendar-month {
    background-color: #DEDEDE;
    border: solid 1px #ADB9CC;
}

td.calendar-today {
    border-width: 2pt;
    border-color: #8470FF;
    border-style: solid;
    background-color: #CCFFCC;
}

td.calendar-topic-workday {
    border-style: solid;
    width: 30px;
    height: 18px;
    background-color: #DDDDFF;
    text-align: center;
}

td.calendar-topic-weekend {
    width: 30px;
    height: 18px;
    background-color: #FFDDDD;
    text-align: center;
}

td.calendar-weekend {
    background-color: #FEF1E9;
}

td.calendar-weeknumber {
    background-color: #CCFFCC;
    height: 15px;
    width: 22px;
}

td.calendar-empty {
    background-color: #DEDEDE;
}

table.month-container > tbody > tr >td,
table.month-container td table {
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

table.metatable thead td,
table.metatable thead div {
    white-space: nowrap;
}

table.metatable.wrap thead td,
table.metatable.wrap thead div {
    white-space: normal;
}

/* Styles for sorted MetaTable */
.table-th-sort-span {
    float: right;
    height: 0;
    width: 0;
    content: ' ';

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.table-th-sort .table-th-sort-span {
    margin-top: 0px;

    border: transparent solid 5px;
    border-bottom-color: #333;
}

.table-th-sort-rev .table-th-sort-span {
    margin-top: 5px;

    border: 5px solid transparent;
    border-top-color: #333;
}

.close-button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;

    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;


    position: absolute;
    top: 0px;
    right: 5px;
    margin: 0;
}

.close-button:hover {
    opacity: 1;
}

span.edit {
    display: block;
}

dt {
    vertical-align: top;
}
.inline, .inline * {
    display: inline !important;
    vertical-align: middle;
}

.nowrap {
    white-space: nowrap;
}
.metaformedit * {
    vertical-align: middle;
}

.metaformedit div {
    display: inline;
    float: left;
}

.metaformedit textarea {
    margin-right: 5px;
    display: inline !important;
    padding: 2px;
}


textarea {
    -webkit-transition: width .2s;
}

.hidden {
    display: none;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

div.ac-results {
    position: absolute;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    background: white;
    color: black;
    text-align: left;
    cursor: pointer;
    max-height: 250px;
    overflow-y: hidden;
}

.ac-results table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.ac-results tr {
    overflow-x: hidden;
}

.ac-results td {
    border-width: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.ac-results td.value {
    padding: 0 25px 0 5px;
}

.ac-results td.page {
    font-style: italic;
    font-size: small;
    text-align: right;
}

.ac-results tr.selected {
    background: #ddffdd;
}

.attachtree_area > ul{
    display: inline-block;
}

.attachtree_fileentry {
    list-style: square;
}

.attachtree_direntry {
    list-style: url("../img/Collapse.png");
}

.attachtree_direntry.collapsed {
    list-style: url("../img/Expand.png");
}

.waiting {
    min-height: 15px;
    min-width: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: url("../img/ajax-loader.gif") center no-repeat !important;
}

.progress {
    border: solid #546569 2px;
    width: 90%;
    margin: 10px auto;
}
.progress div {
    background-color: #87A4AB;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    margin: 0;
}

.progress div span {
    padding: 4px;
    display: inline-block;
}

.invite td {
    white-space: nowrap;
}

.invite {
    background: #E6EAF0;
    padding: 10px;
}