Source: opencollab
XS-Python-Version: >= 2.5
Section: python
Priority: extra
Maintainer: Lari Huttunen <debian@huttu.net>
Build-Depends: debhelper (>= 5), python-central, dh-make, dpkg-dev, debconf, perl
Standards-Version: 3.7.2

Package: opencollab
XS-Python-Version: >= 2.5
Architecture: all
Depends: python (>=2.5), python-ipy 
Recommends: mtr, multi-resolver
Description: XML-RPC SDK and scripts to interact with GraphingWiki
 OpenCollab is a Python SDK for interacting with GraphingWiki through
 XML-RPC. In addition this package contains useful example scripts,
 which utilize the SDK's capabilities. Please note that some of the
 example scripts have extra dependencies, which need to be installed
 from the recommends section.
